<!-- ko if: isActive() -->
<div class="donation-block">
    <h3 data-bind="i18n: 'Make a Donation'"></h3>
    <!-- ko foreach: { data: donations, as: 'donation' } -->
    <button type="button" data-bind="click: function() { $parent.onDonate(donation.amount) },
     enable: donation.enable,
     css: { 'donated' : !donation.enable}" class="action">
        <span data-bind="i18n: donation.label"></span>
    </button>
    <!-- /ko -->
</div>
<!-- /ko -->
