<?php $_donations = $block->getDonations(); ?>
<?php if ($_donations && count($_donations)) : ?>
    <div class="table-wrapper donations-history">
        <table class="data table table-donation-items history" id="my-donations-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Donations')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= $block->escapeHtml(__('Order #')) ?></th>
                    <th scope="col" class="col date"><?= $block->escapeHtml(__('Date')) ?></th>
                    <th scope="col" class="col shipping"><?= $block->escapeHtml(__('Ship To')) ?></th>
                    <th scope="col" class="col donation"><?= $block->escapeHtml(__('Donation')) ?></th>
                    <th scope="col" class="col total"><?= $block->escapeHtml(__('Order Total')) ?></th>
                    <th scope="col" class="col status"><?= $block->escapeHtml(__('Status')) ?></th>
                    <th scope="col" class="col actions"><?= $block->escapeHtml(__('Action')) ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_donations as $_donation) : ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Order #')) ?>" class="col id"><?= $block->escapeHtml($_donation->getRealOrderId()) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Date')) ?>" class="col date"><?= /* @noEscape */ $block->formatDate($_donation->getCreatedAt()) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Ship To')) ?>" class="col shipping"><?= $_donation->getShippingAddress() ? $block->escapeHtml($_donation->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Donation')) ?>" class="col donation"><?= /* @noEscape */ $_donation->formatPrice($_donation->getDonationAmount()) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Order Total')) ?>" class="col total"><?= /* @noEscape */ $_donation->formatPrice($_donation->getGrandTotal()) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Status')) ?>" class="col status"><?= $block->escapeHtml($_donation->getStatusLabel()) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>" class="col actions">
                            <a href="<?= $block->escapeUrl($block->getViewUrl($_donation)) ?>" class="action view">
                                <span><?= $block->escapeHtml(__('View Order')) ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="donations-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
    <div class="total-donations"><span><?= $block->escapeHtmlAttr(__('Total Donations:')) ?></span> <span><?= /* @noEscape */ $block->getFormattedPrice($block->getDonationsTotal()) ?></span></div>
    <div class="total-donations actual"><span><?= $block->escapeHtmlAttr(__('Actual Total Donations:')) ?></span> <span><?= /* @noEscape */ $block->getFormattedPrice($block->getActualDonationsTotal()) ?></span></div>
<?php else : ?>
    <div class="message info empty"><span><?= $block->escapeHtml(__('You have no donations.')) ?></span></div>
<?php endif ?>
