<?= $block->getChildHtml('grid') ?>
<div class="total-donations"><span><?= $block->escapeHtmlAttr(__('Total Donations:')) ?></span> <span><?= /* @noEscape */ $block->getFormattedPrice($block->getDonationsTotal()) ?></span></div>
