& when (@media-common = true) {
  .donation-block {
    button {
      margin: 5px;
      &.donated {
        border: 1px solid #00cc00;
      }
    }
  }
  .total-donations {
    color: #000099;
    font-size: 24px;
    &.actual {
      color: #009900;
    }
  }
}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}