<!-- ko if: isDisplayed() -->
<tr class="totals donation">
    <th class="mark" scope="row" data-bind="text: title"></th>
    <td class="amount" data-bind="attr: {'data-th': title}">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->